@model IEnumerable<Mirror.Models.User>

@{
    ViewData["Title"] = "Index";
    ViewData["Header"] = "Список учётных записей";
}

<div class="form-group">
    <a asp-action="Create" class="btn btn-primary">Создать новый аккаунт</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eternal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eternal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-action="Statistic" asp-route-id="@item.Id" style="color: #36b95e !important">Статистика</a> 

                    @Html.Raw("|")

                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> 

                    @if(item.Id != 1)
                    {
                        @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color: #d85b5b!important;">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>